mixin userCards(spec)
  each val in spec
    .users__content
      .users__item
        img(class='user_img' src=val.picture alt=val.firstName)
      div(class='users__item users__item--id')
        | #{val.id}
      div(class='users__item users__item--user' data-name=`${val.firstName} ${val.lastName}`)
        | #{val.title}. #{val.firstName} #{val.lastName}
      .users__item
        a.users__link(href=`mailto: ${val.email}`)
          | #{val.email}
